<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">
      <img alt="Mnemotix" class="mnx-logo" src="/assets/img/logo-seul.svg">
      {{ site.title | escape }}
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.mnemotix.com/">Mnemotix</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.mnemotix.com/#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
