---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

// Import Rubik
@import url(https://fonts.googleapis.com/css?family=Rubik);
body{margin:0;font-family:'Open Sans';-moz-osx-font-smoothing:grayscale;height:100vh}
h2{font-size:26px;line-height:130%;margin-bottom:20px;font-weight:700;letter-spacing:.025em;color:#2a3c46}


// Couleurs Mnemotix
$blackblue : #2a3c46 ;
$orangemnx : #f29e60ff;

$primary : $orangemnx ;

// MNX logo in navbar
img.mnx-logo {
    max-height: 55px;
    margin-right: 5px;
}

header.masthead {
    background-color: $blackblue;
    font-family: Rubik!important;
    margin-top: 80px !important;
}

.page-heading {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 15px;
    color: $blackblue;
}

// Meta
.meta {
    font-family: sans-serif !important;
}

// links
a:hover{
    color : $orangemnx !important;
}

// buttons
a.btn-primary {
    background-color: $blackblue;
}

#mainNav {
    font-family: Rubik;
}

.navbar-brand {
    font-family: Rubik;
    font-weight: 900!important;
    font-size: 1.75rem;
}

.page-heading .subheading {
    font-family: Rubik !important;
}

h1, h2.post-title {
    font-family: Rubik !important;
}

::selection {
    color: #fff ;
    background-color:$orangemnx!important ;
}

.btn.btn-primary:hover {
    color: #fff !important;
    background-color:$orangemnx!important ;
    border-color:$orangemnx!important;
}